* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

html,
body {
  width: 100%;
}

body {
  background: #191b23;
  color: #e7e7e8;
  font-family: "PT Mono", monospace;
  text-align: center;
}

main {
  margin: 0 5%;
}

a {
  color: #e5eaef;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.section {
  padding: 5%;
}

.label {
  padding: 0 10px;
}

input {
  color: white;
}

/* countries selection */

#filter {
  width: 100%;
}

label#filter {
  width: 22%;
}

ul {
  color: #323139;
}

.select2-container--default .select2-selection--multiple {
  background-color: #2d303a;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #a3aac2;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #a3aac2;
}

/* axis values and scales toggles */

#axis_toggle {
  flex-wrap: wrap;
}

.yValue {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.yScaleToggle,
.xScaleToggle {
  margin: 0 20px;
  align-items: center;
}

.yValue > *,
.yScaleToggle > *,
.xScaleToggle > * {
  padding: 0 7px;
}

.yValue > input,
.yScaleToggle > input,
.xScaleToggle > p {
  margin-right: 20px;
}

/* Chart */

.axisLabel {
  fill: #e5eaef;
}

.countryLine {
  stroke-width: 1.2;
  opacity: 0.9;
}

.countryText {
  stroke-width: 2;
  opacity: 0.9;
}

.intervention {
  stroke-width: 1;
  opacity: 0.2;
  stroke-dasharray: 3 3;
}

line.hoverHighlighted {
  opacity: 1 !important;
  stroke-width: 2;
}

text.hoverHighlighted {
  opacity: 1 !important;
  font-size: large !important;
}

path.hoverHighlighted {
  opacity: 1 !important;
  stroke-width: 5;
}

.highlighted > * {
  opacity: 1 !important;
  font-size: large !important;
}

.filtered {
  display: none !important;
}

footer {
  padding: 20px;
}

@media screen and (max-width: 650px) {
  h1 {
    padding: 10px 0 5px 0;
  }
  .flex {
    display: block;
  }

  .label {
    font-weight: bold;
    margin: 15px 0 8px 0;
  }

  .yScaleToggle,
  .xScaleToggle {
    margin: 0;
  }

  .yValue > *,
  .yScaleToggle > *,
  .xScaleToggle > * {
    padding: 0;
  }

  .yValue > input,
  .yScaleToggle > input,
  .xScaleToggle > p {
    margin-right: 15px;
  }

  label#filter {
    width: 35%;
    padding: 0;
  }

  .select2-container {
    margin-top: 8px;
  }

  footer {
    padding-bottom: 30px;
  }
}
